init-license=MIT
init-version=0.0.1
save-prefix=~
loglevel=http
@murshidazher:registry=https://npm.pkg.github.com/
registry=https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=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
